
<div class="sign in wrap">

  <h1><%= i18n("user.sign_in") %></h1>

  <p><%= i18n("user.not_a_user") %> <a href="/sign_up"><%= i18n("user.sign_up") %></a></p>

  <form id="form" class="form">

    <div class="group">
      <input id="email" type="email" placeholder="<%= i18n("forms.placeholder.email") %>"/>
    </div>
    <div class="group">
      <input id="password" type="password" placeholder="<%= i18n("forms.placeholder.password") %>"/>
    </div>

    <div class="group">
      <input id="submit" class="btn blue" type="submit" value="Sign in"/>
    </div>

  </form>

</div>
