
<div class="wrap page projects">

  <div class="header block">

    <h1 class="grid-6"><%= i18n("projects.header") %></h1>

    <div class="grid-6">
      <a href="/projects/new" id="projects-new" class="btn blue right"><%= i18n("create") %> <%= i18n("projects.project") %></a>
    </div>
  </div>

  <% if (projects.length) { %>
    <ul class="list">
      <% each(projects, function(project) { %>
        <li>
          <h3><%= project.title %></h3>
          <p><%= project.description %></p>
        </li>
      <% }); %>
    </ul>
  <% } else { %>
    <p><%= i18n("projects.no_projects") %></p>
  <% } %>

</div>
