
<div class="wrap page project index">

  <div class="header block">

    <h1 class="grid-6"><%= i18n("projects.header") %></h1>

    <div class="grid-6">
      <a href="/projects/new" id="projects-new" class="btn blue right"><%= i18n("create") %> <%= i18n("projects.project") %></a>
    </div>
  </div>

  <% if (projects.length) { %>
    <ul class="list">
      <% each(projects, function(project) { %>
        <li class="item block">

          <div class="block">
            <h3 class="title left"><%= project.title %></h3>
            <div class="btns right">
              <a href="/projects/<%= project.id %>" class="project-edit btn blue"><%= i18n("projects.view") %></a>
              <a id="<%= project.id %>" class="project-delete btn red"><%= i18n("delete") %></a>
            </div>
          </div>

          <p class="description"><%= project.description %></p>
        </li>
      <% }); %>
    </ul>
  <% } else { %>
    <p><%= i18n("projects.no_projects") %></p>
  <% } %>

</div>
