
<div class="wrap page project show">

  <div class="header block">

    <h1><%= project.title %></h1>
    <p><%= project.description %></p>
    <p><%= i18n("projects.project_id") %> - <span class="selectable"><%= project.id %></span></p>
    <p><%= i18n("projects.api_token") %> - <span class="selectable"><%= user.apiToken %></span></p>

  </div>

  <div class="body block">



  </div>

</div>
